* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

title {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(88, 88, 88); */
  font-family: "Poppins", sans-serif;
  top: 0;
  z-index: 999;
  position: sticky;
}

@media (max-width:769px) {
  .navbar {
    display: none;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links a:hover {
  color: orange;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  /* scroll-snap-destination: always; */
  /* background-image: url('media/codeWallpaperBlur.jpg');
  background-size: 100%; */
}

@media (max-width:769px) {
  .container {
    scroll-snap-type: none;
  }
}

.backgroundImg {
  background-image: url("media/codeWallpaperBlur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.parallax {
  /* The image used */
  background-image: url("media/codeWallpaperBlur.jpg");
  opacity: 0.2;

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.pic {
  width: 15em;
  height: 15em;
  border-radius: 50%;
}

.logoPic {
  float: center;
  margin-bottom: 5vh;
  position: relative;
  overflow: hidden;
}

.profilePic {
  float: center;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.textLarge {
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: bold;
}

.textMedium {
  font-size: calc(1vw + 1rem);
  /* font-weight: bold; */
  color: orange;
  text-shadow: 2em;
  text-align: center;
  vertical-align: middle;
}

.one {
  background-size: 100%;
}
.two {
  background: rgba(6, 7, 53, 0.6);
}

.firstSection {
  display: grid;
  justify-items: center;
}

.secondSection {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: auto;
  justify-items: center;
  width: 80%;
  height: 80%;
}

.thirdSection {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: auto;
  justify-items: center;
  width: 80%;
  height: 80%;
}

@media (max-width:769px){
  .thirdSection {
    width: 100%;
  }
}

.section-title {
  font-size: calc(1vw + 1rem);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.firstSection-box {
  background: rgba(22, 22, 22, 0.7);
  text-align: center;
  border-radius: 0.5em;
}

.education-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width:769px){
  .education-container {
    flex-direction: column;
  }
}

.education-box {
  background: rgba(55, 55, 55, 0.7);
  width: 30vw;
  height: 30vh;
  margin: 2em;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 1em;
  border-radius: 0.5em;
  transition: all 0.5s ease;
  word-wrap: break-word;
  overflow: hidden;
}

@media (max-width:769px) {
  .education-box {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.education-box:hover {
  color: rgba(255, 165, 0);
  /* background: rgba(55, 55, 55, 0.9); */
  border-radius: 1.5em;
}

.education-box li {
  list-style-type: none;
}

.education-box2 {
  background: rgba(55, 55, 55, 0.7);
  width: 30vw;
  height: 30vh;
  margin: 2em;
  text-align: center;
  line-height: 1.5em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 1em;
  border-radius: 1em;
  transition: all 0.5s ease;
  overflow: hidden;
  word-wrap: break-word;
}

@media (max-width:769px) {
  .education-box2 {
    width: 70%;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.education-box2:hover {
  color: rgba(255, 165, 0);
  border-radius: 1.5em;
}

.education-box2 li {
  list-style-type: none;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

@media (max-width:769px) {
  .project-box {
    padding: 0px;
  }
}

.project-box .card {
  border-radius: 4px;
  position: relative;
  max-width: 300px;
  height: 200px;
  background: rgba(55, 55, 55, 0.2);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.project-box .card:hover {
  height: 425px;
  background: rgba(55, 55, 55, 0.9);
}

.project-box .card .imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.project-box .card .imgBox img {
  max-width: 100%;
  border-radius: 4px;
}

.project-box .card .card-content {
  position: relative;
  margin-top: -200px;
  padding: 10px 15px;
  text-align: center;
  color: orange;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.project-box .card:hover .card-content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.experience-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-box {
  background: rgba(55, 55, 55, 0.7);
  width: auto;
  height: 35vh;
  margin: 1em;
  padding: 5px;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 16px;
  border-radius: 1em;
  word-wrap: break-word;
  transition: all 0.5s ease;
  overflow:hidden;
}

@media (max-width:769px) {
  .experience-container{
    flex-direction: column;
  }

  .experience-box {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1em;
    font-size: 12px;
    height: auto;
  }
}

.experience-box:hover {
  border-radius: 1.5em;
}

.experience-box li {
  list-style: none;
}

.hobby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hobby-box {
  background: rgba(55, 55, 55, 0.7);
  width: 30vw;
  height: 30vh;
  margin: 2em;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 1em;
  word-wrap: break-word;
  transition: all 0.5s ease;
  overflow:hidden;
}

@media (max-width:769px) {
  .hobby-box {
    width: 100%;
    margin: 0px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1em;
  }
}

.hobby-box:hover {
  border-radius: 1.5em;
}

.hobby-box2 {
  background: rgba(55, 55, 55, 0.7);
  width: 30vw;
  height: 30vh;
  margin: 2em;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  overflow:hidden;
}

@media (max-width:769px) {
  .hobby-box2 {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1em;
  }
}

.hobby-box2:hover {
  border-radius: 1.5em;
}

.audioPlayerTitleText {
  padding-bottom: 1vh;
}

.audioPlayerStyle {
  border-radius:7px 7px 7px 7px;
}

audio {
  width: 100% !important;
  height: 30px !important;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(121, 121, 121) !important;
}

.playlist {
  list-style: none;
}

.playlist li a {
  color: orange;
  text-decoration: none;
}

.playlist .current-song a {
  color: red;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  background: rgba(55, 55, 55, 0.7);
  width: 20vw;
  height: 35vh;
  margin: 1em;
  padding-top: 1vh;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 0.5em;
  word-wrap: break-word;
  transition: all 0.5s ease;
}

@media (max-width:769px) {
  .contact-text {
    width: 100%;
    margin: 0px;
    
  }
}

.contact-text:hover {
  border-radius: 1em;
}

.input-email {
  border-radius: 4px; 
  width:18vw; 
  height:4vh;
}

@media (max-width:769px) {
  .input-email {
    width: 100%;
  }
}

.input-message {
  border-radius: 4px; 
  width:18vw; 
  height:22vh; 
  font-size:14px; 
  word-wrap: break-word;
}

@media (max-width:769px) {
  .input-message {
    width: 100%;
  }
}

.contact-text a {
  text-decoration: none;
}

.contactPictureClass {  
    float: center;
}

.contact-pic {
  width: 100%;
  height:100%;
}

.contact-text-linkedin {
  /* background: rgba(55, 55, 55, 0.7); */
  width: 20vw;
  height: 5vh;
  margin: 1em;
  /* padding-top: 1vh; */
  text-align: center;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 0.5em;
  word-wrap: break-word;
}

@media (max-width:769px) {
  .contact-text-linkedin {
    width: 100%;
    margin-left: 0px;
  }
}

.sbmtbutton{
  cursor: pointer;
}