* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

title {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(88, 88, 88); */
  font-family: 'Poppins', sans-serif;
  top: 0;
  z-index: 999;
  position: sticky;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links a:hover {
  color: orange;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  /* scroll-snap-destination: always; */
  /* background-image: url('media/codeWallpaperBlur.jpg');
  background-size: 100%; */
}

.backgroundImg {
  background-image: url('media/codeWallpaperBlur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.parallax {
  /* The image used */
  background-image: url('media/codeWallpaperBlur.jpg');
  opacity: 0.2;

  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.pic{
  width: 15em;
  height: 15em;
  border-radius: 50%;
}

.logoPic {
  float: center;
  margin-bottom: 5vh;
  position: relative;
  overflow: hidden; 
  /* width: 20em; */
  /* height: 20em; */
  /* border-radius: 50%; */
  /* transform: translate(-50%, -50%); */
  transform-style: preserve-3d;
  /* perspective: 3000px; */
  
  
}

/* .logoPic img{
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
  transition: all .4s;
  transform-style: preserve-3d;
}

.logoPic:hover img{
  
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
} */

.profilePic {
  float: center;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.textLarge {
  font-size: 48px;
  font-weight: bold;
}

.textMedium {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  text-shadow: 2em;
  text-align: center;
  vertical-align: middle;
 
}

.one {
  background-size: 100%;
}
.two {
  background: rgba(6, 7, 53, 0.6);
}

/* .three {
  background: rgba(22, 47, 70, 0.6);
}
.four {
  background: rgb(32, 46, 94, 0.6);
}

.five {
  background: rgba(68, 73, 90, 0.6);
} */


.firstSection {
  display: grid;
  justify-items: center;
}

.secondSection {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: auto;
  justify-items: center;
  width: 80%;
  height: 80%;
}

.thirdSection {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: auto;
  justify-items: center;
  width: 80%;
  height: 80%;
}

.section-title {
  padding: 0px;
  margin: 0px;
}

.education-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-box {
  background: rgba(55, 55, 55, 0.7);
  width: 30vw;
  height: 30vh;
  margin: 2em;
  text-align: center;
  line-height: 2em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 0.5em;
  transition: all 0.5s ease;
}

.education-box:hover{
  color: rgba(255, 165, 0);
  /* background: rgba(55, 55, 55, 0.9); */
  border-radius: 1.5em;
}

.education-box li {
  /* list-style-type: none; */
}

.education-box2 {
  background: rgba(55, 55, 55, 0.7);
  width: 40vw;
  height: 28vh;
  margin: 2em;
  text-align: center;
  line-height: 1.5em;
  color: rgba(255, 165, 0, 0.9);
  font-size: 18px;
  border-radius: 1em;
  transition: all 1s ease;
}

.education-box2:hover{
  color: rgba(255, 165, 0);
  border-radius: 1.5em;
}

.education-box2 li {
  list-style-type: none;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.project-box .card {
  border-radius: 4px;
  position: relative;
  max-width: 300px;
  height: 200px;
  background: rgba(55, 55, 55, 0.2);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.project-box .card:hover {
  height: 420px;
  background: rgba(55, 55, 55, 0.9);
}

.project-box .card .imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px; 
  z-index: 1;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
}

.project-box .card .imgBox img {
  max-width: 100%;
  border-radius: 4px;
}

.project-box .card .card-content{
  position: relative;
  margin-top: -200px;
  padding: 10px 15px;
  text-align: center;
  color: orange;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.project-box .card:hover .card-content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}